@font-face {
  font-family: 'Avenir-Black';
  src: url('../fonts/AvenirLTStd-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir-Book';
  src: url('../fonts/AvenirLTStd-Book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

body {
  background: black;
  color: white;
  font-family: Avenir-Book, sans-serif;
}

#page-fund, #page-account {
  padding-top: 20px;
  padding-bottom: 5px;
}

@media (min-width: 576px) {
  #page-fund, #page-account {
    padding-top: 35px;
    padding-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .container-90-xl {
    max-width: 90%;
  }
}

h1 {
  margin: 0 0 5px;
  text-transform: uppercase;
  font-family: Avenir-Black, sans-serif;
  color: white;
  font-weight: 600;
}

p {
  font-family: Avenir-Book, sans-serif;
  color: #aaa;
  font-weight: 600;
  margin: 0 0 10px;
}

p:last-child {
  margin: 0 0 20px;
}

@media (min-width: 576px) {
  h1 {
    font-size: 72px;
  }

  p {
    font-size: 24px;
    margin: 0 0 20px;
  }

  p:last-child {
    margin: 0 0 35px;
  }
}

strong {
  font-family: Avenir-Black, sans-serif;
  font-weight: 600;
}

.panel-default {
  background-color: #212529;
  border-radius: 0;
  margin-bottom: 20px;
}

.panel-default > .panel-heading {
  border-radius: 0;
  padding: 12px 15px;
  background: white;
  color: black;
}

.panel-title {
  font-family: Avenir-Black, sans-serif;
  font-weight: 600;
  font-size: 18px;
  margin: 0;
}

.panel-default > .panel-body {
  padding: 10px 15px;
}

.panel-default > .panel-footer {
  border-top: 1px solid white;
  padding: 10px 15px;
}

@media (min-width: 576px) {
  .panel-default {
    margin-bottom: 30px;
  }

  .panel-title {
    font-size: 20px;
  }

  .panel-default > .panel-body {
    padding: 12px 15px;
  }

  .panel-default > .panel-footer {
    padding: 12px 15px;
  }

  .panel-horizontal {
    display: flex;
  }
}

.panel-horizontal > .panel-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.panel-horizontal > .panel-heading .panel-title {
  margin: auto 0;
}

.panel-horizontal > .panel-body {
  flex-grow: 1;
}

.form-control, .custom-select {
  border: none;
  border-radius: 0 !important;
  color: white;
  background-color: #212529;
}

.form-control:focus {
  background: #212529;
  color: white;
}

.custom-select {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23ffffff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e");
}

.input-group-append, .input-group>.custom-file+.custom-file, .input-group>.custom-file+.custom-select, .input-group>.custom-file+.form-control, .input-group>.custom-select+.custom-file, .input-group>.custom-select+.custom-select, .input-group>.custom-select+.form-control, .input-group>.form-control+.custom-file, .input-group>.form-control+.custom-select, .input-group>.form-control+.form-control, .input-group>.form-control-plaintext+.custom-file, .input-group>.form-control-plaintext+.custom-select, .input-group>.form-control-plaintext+.form-control {
  margin-left: 0;
  border-left: 1px solid white;
}

.btn {
  border-radius: 0;
  border: none;
}

#DepositToken, #WithdrawToken, #TransferCurrency {
  flex-grow: 0.33333333;
}

kbd {
  border-radius: 0;
}

.modal p {
  font-size: 1rem;
  font-weight: 400;
}

#modal-how-it-works p:last-child {
  margin-bottom: 20px;
}

@media (min-width: 576px) {
  #modal-how-it-works .modal-dialog {
    max-width: 1000px;
  }
}

.loading-icon {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}

.loading-icon div {
  display: inline-block;
  position: absolute;
  left: 2px;
  width: 4px;
  background: #fff;
  animation: loading-icon 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loading-icon div:nth-child(1) {
  left: 2px;
  animation-delay: -0.24s;
}

.loading-icon div:nth-child(2) {
  left: 8px;
  animation-delay: -0.12s;
}

.loading-icon div:nth-child(3) {
  left: 14px;
  animation-delay: 0;
}

@keyframes loading-icon {
  0% {
    top: 2px;
    height: 16px;
  }

  50%, 100% {
    top: 6px;
    height: 8px;
  }
}

#depositButton, #confirmDepositButton, #withdrawButton, #confirmWithdrawalButton, #transferButton {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

#DepositSlippage kbd, #DepositExchangeFee kbd, #WithdrawSlippage kbd, #WithdrawExchangeFee kbd {
  font-size: initial;
}

@media (min-width: 768px) {
  #selected-account-wrapper {
    display: flex;
    justify-content: center;
  }
}

#MyUSDBalanceWrapper {
  font-size: 1.2rem;
}

@media (min-width: 992px) {
  #MyUSDBalanceWrapper {
    font-size: 1.5rem;
  }
}
